@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}


#root {
  display: block;
  width: 100%;
}

/* Estilos adicionales para compatibilidad con Anima */
@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


img {
  pointer-events: none;
  user-select: none;
}


@font-face {
  font-family: 'ProductSans';
  src: url('./assets/fonts/ProductSansBold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'ProductSans';
  src: url('./assets/fonts/ProductSansRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



/* En tu archivo CSS global si usás Tailwind */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


